@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main styling */
html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400, 700;
    font-display: swap;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #0d2227;
}

/* utility classes */
.container {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

.nav {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.d-f-row {
    display: flex;
}

.d-f-column {
    display: flex;
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.btn {
    padding: 1.4rem 8rem;
    border-radius: 2.8rem;
    -webkit-border-radius: 2.8rem;
    -moz-border-radius: 2.8rem;
    -ms-border-radius: 2.8rem;
    -o-border-radius: 2.8rem;
    text-transform: capitalize;
    font-weight: 700;
}

.btn-shadow {
    box-shadow: 2px 2px 5px 1px #ccc, -2px -2px 5px 1px #ccc;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.btn-shadow:hover {
    box-shadow: 1px 1px 5px 1px #ddd, -1px -1px 5px 1px #ddd;
}
.box-shadow {
    box-shadow: 0px 0px 24px -10px #ccc;
    /* transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; */
}

/* .box-shadow:hover {
    box-shadow: none;
} */

/* HEADER-SECTION START STYLING */

#header-section {
    width: 100%;
    max-height: 90vh;
    background-color: #edfbfe;
    background-image: url("../images/bg-hero-desktop.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0rem;
    overflow: hidden;
}

#header-section .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    column-gap: 5rem;
    row-gap: 5rem;
}

#header-section .logo {
    display: inline-block;
    max-width: 200px;
    height: 100%;
}

#header-section .logo img {
    width: 100%;
    height:100%;
    object-fit: contain;
    object-position: center center;
}

#header-section .try {
    background-color: white;
    font-weight: 700;
}

#header-section .try:hover {
    color: #8a9197;
}

#header-section .content h2.title {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

#header-section .content .text {
    font-size: 1.6rem;
    font-weight: 400;
    color: #284146;
}

.get-start-btn {
    background-color: #fe52c0;
    color: #fff;
    width: max-content;
}

.get-start-btn:hover {
    background-color: #ff9bdb;
}

/* HEADER-SECTION END STYLING */
/* >>>>>>>>>>>>>>>>>>>>>>>> */
/* MAIN-SECTION START STYLING */
.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5rem;
}

#main-section {
    padding: 10rem;
    padding-bottom: 20rem;
}

#main-section article {
    width: 100%;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem 4rem 10rem;
}

#main-section article:hover {
    cursor: pointer;
}

#main-section article:nth-child(odd) {
    flex-direction: row;
}

#main-section article:nth-child(even) {
    flex-direction: row-reverse;
}

#main-section div.content {
    max-width: 40%;
}

#main-section div.content h2 {
    text-transform: capitalize;
    font-size: 3.2rem;
}

#main-section div.content p {
    color: #919599;
    margin-top: 1rem;
}

#main-section div.content p::first-letter {
    text-transform: uppercase;

}

/* #main-section article img {
    width: 350px;
} */

/* END OF MAIN-SECTION STYILING */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* START OF FOOTER-SECTION STYLING */
#footer-section {
    background-color: #00252e;
    color: #a3d4e8;
    padding: 4rem 0rem;
    position: relative;
}

#footer-section .grid-container {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: start;
    column-gap: 4rem;
}

#footer-section .footer-logo {
    grid-row: 1/2;
    grid-column: 1/-1;
}

:is(#footer-section) :is(.contact, .about-me-1, .about-me-2, .social-media) {
    grid-row: 2/3;
}

#footer-section .contact {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 0rem;
}

#footer-section .social-media {
    display: flex;
    justify-content: space-evenly;
}

#footer-section .social-media a.social-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #a3d4e8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fbfefe;
}

#footer-section .contact .icone {
    color: #fbfefe;
    font-size: 2rem;
    margin-right: 3rem;
}

#footer-section .contact div:first-child {
    margin-top: 0;
}

#footer-section .contact div {
    margin-top: 2rem;
}

#footer-section .contact div.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    justify-content: start;
    column-gap: 0rem;
}
#footer-section .copyright {
    margin-top: 3rem;
}

#footer-section .community {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
    background-color: white;
    padding: 4rem;
    width: max-content;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-transform: translate(-50%,50%);
    -moz-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    -o-transform: translate(-50%,50%);
}

#footer-section .community a.get-start-btn {
    color: white;
} 

#footer-section .community h2 {
    color: #011f27;
    text-transform: capitalize;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

#footer-section .community.box-shadow {
    box-shadow: 0px 0px 14px -8px #00252e;
}

